footer {
    background-color: #ffe769;
    height: auto;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
}

footer h1 {
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
}

a {
    color: #444273;
    text-decoration: none;
}